.form {
  width: 350px;
  margin-top: 20%;
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.1), 0 16px 24px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.form:hover, .form:focus-within {
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 16px 24px rgba(0, 0, 0, 0.08);
}

.form div {
  width: 100%;
  height: 72px;
  margin-bottom: 5px;
}

label {
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(252, 252, 252);
  outline: none;
  transition: 0.3s;
}

input:focus-within {
  border-color: rgb(0, 123, 255);
}

.password-container svg {
  width: 18px;
  height: auto;
  transition: 0.3s;
}

.password-container svg:hover {
  color: rgb(51, 51, 51);
}

.password-container .error {
  margin-top: -16px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:disabled {
  background-color: #cccccc;
  pointer-events: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 425px) {
  .form {
    width: 280px; /* Adds margin when the screen size is small */
  }
  .form .password-container {
    height: 85px;
  }
}
